* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

footer {
  margin-top: auto;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

a,
ul,
li {
  all: unset;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.main {
  margin-bottom: 2rem;
}