/**sobre a pagina**/
.size {
  width: 1rem;
}

.container {
  background-color: rgb(250, 250, 250);
  text-align: center;
  padding: 3rem 0;
  width: 100%;
}

.container-wrapper {
  width: 1256px;
  margin: 0 auto;
}

.container-titulo {
  color: #333;
  font-size: 2rem;
}

.intro {
  font-size: 16px;
  line-height: 1.5;
}

/**infos**/

.container-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 1256px;
  margin: 3rem auto;
  gap: 2rem;
}

.info {
  width: 628px;
  height: 100%;
  display: flex;
  text-align: start;
  align-content: center;
  flex-direction: column;
}

.img-container {
  width: 628px;
  height: 450px;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.titulo-info {
  font-size: 24px;
}

.tipo-info {
  font-size: 18px;
  padding-bottom: 20px;
}

.texto-info {
  padding-bottom: 10px;
}

.titulo-info {
  font-size: 24px;
}

.base-info {
  font-size: 16px;
}

.hor-info {
  font-weight: 500;
}


@media screen and (max-width: 1280px) {
  .container-wrapper {
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }

  .container-info {
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }

  .img-container {
    width: calc(50vw - 12px);
    height: 450px;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;

  }

  .info {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(50vw - 12px);
  }
}

/**info mobile 1024px**/
@media (min-width: 769px) and (max-width: 1024px) {
  .container-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/**info mobile 768px**/
@media (max-width: 768px) {
  .container-info {
    flex-direction: column-reverse;
    margin: 3rem auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .img-container {
    width: 100%;
    border-radius: 0;
  }

  .info {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
}

/**info mobile 425px**/
@media (max-width: 425px) {
  .container-info {
    align-items: left;
  }

  .info {
    text-align: left;
  }

  .titulo-info {
    font-size: 20px;
    text-align: start;
  }

  .tipo-info {
    font-size: 16px;
  }

  .base-info {
    font-size: 14px;
  }
}